footer {
    display: flex;
    justify-content: space-between;
    height: 120px;
    color: #fff;
    background-color: #1C4588;
    padding-top: 15px;
    align-items: center;

    .contact-info {
        margin-bottom: 15px;
    }
}