section {
    &#stay-in-touch {
        height: 80px;
        background-color: rgba(28, 69, 136, 0.85);
        color: #fff;
        justify-content: center;
        align-items: center;
      
        .stay-in-touch-content {
          font-size: 18px;
          margin-right: 6px;
      
          span {
            font-weight: bold;
            margin-right: 6px;
          }
        }
      
        & form {
          input.email-address {
            width: 300px;
            margin: 0 10px;
            padding: 10px 8px;
          }
      
          button {
            height: 40px;
            width: 112px;
            border-radius: 20px;
            background-color: #83bd00;
            border: none;
            color: #1c4588;
      
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      #stay-in-touch {
        height: 80px;
        background-color: rgba(28, 69, 136, 0.85);
        color: #fff;
        justify-content: center;
        align-items: center;
      
        .stay-in-touch-content {
          font-size: 18px;
          margin-right: 6px;
      
          span {
            font-weight: bold;
            margin-right: 6px;
          }
        }
      
        & form {
          input.email-address {
            width: 300px;
            margin: 0 10px;
            padding: 10px 8px;
          }
      
          button {
            height: 40px;
            width: 112px;
            border-radius: 20px;
            background-color: #83bd00;
            border: none;
            color: #1c4588;
      
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      #stay-in-touch {
        height: 80px;
        background-color: rgba(28, 69, 136, 0.85);
        color: #fff;
        justify-content: center;
        align-items: center;
      
        .stay-in-touch-content {
          font-size: 18px;
          margin-right: 6px;
      
          span {
            font-weight: bold;
            margin-right: 6px;
          }
        }
      
        & form {
          input.email-address {
            width: 300px;
            margin: 0 10px;
            padding: 10px 8px;
          }
      
          button {
            height: 40px;
            width: 112px;
            border-radius: 20px;
            background-color: #83bd00;
            border: none;
            color: #1c4588;
      
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      #stay-in-touch {
        height: 80px;
        background-color: rgba(28, 69, 136, 0.85);
        color: #fff;
        justify-content: center;
        align-items: center;
      
        .stay-in-touch-content {
          font-size: 18px;
          margin-right: 6px;
      
          span {
            font-weight: bold;
            margin-right: 6px;
          }
        }
      
        & form {
          input.email-address {
            width: 300px;
            margin: 0 10px;
            padding: 10px 8px;
          }
      
          button {
            height: 40px;
            width: 112px;
            border-radius: 20px;
            background-color: #83bd00;
            border: none;
            color: #1c4588;
      
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      #stay-in-touch {
        height: 80px;
        background-color: rgba(28, 69, 136, 0.85);
        color: #fff;
        justify-content: center;
        align-items: center;
      
        .stay-in-touch-content {
          font-size: 18px;
          margin-right: 6px;
      
          span {
            font-weight: bold;
            margin-right: 6px;
          }
        }
      
        & form {
          input.email-address {
            width: 300px;
            margin: 0 10px;
            padding: 10px 8px;
          }
      
          button {
            height: 40px;
            width: 112px;
            border-radius: 20px;
            background-color: #83bd00;
            border: none;
            color: #1c4588;
      
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      #stay-in-touch {
        height: 80px;
        background-color: rgba(28, 69, 136, 0.85);
        color: #fff;
        justify-content: center;
        align-items: center;
      
        .stay-in-touch-content {
          font-size: 18px;
          margin-right: 6px;
      
          span {
            font-weight: bold;
            margin-right: 6px;
          }
        }
      
        & form {
          input.email-address {
            width: 300px;
            margin: 0 10px;
            padding: 10px 8px;
          }
      
          button {
            height: 40px;
            width: 112px;
            border-radius: 20px;
            background-color: #83bd00;
            border: none;
            color: #1c4588;
      
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      #stay-in-touch {
        height: 80px;
        background-color: rgba(28, 69, 136, 0.85);
        color: #fff;
        justify-content: center;
        align-items: center;
      
        .stay-in-touch-content {
          font-size: 18px;
          margin-right: 6px;
      
          span {
            font-weight: bold;
            margin-right: 6px;
          }
        }
      
        & form {
          input.email-address {
            width: 300px;
            margin: 0 10px;
            padding: 10px 8px;
          }
      
          button {
            height: 40px;
            width: 112px;
            border-radius: 20px;
            background-color: #83bd00;
            border: none;
            color: #1c4588;
      
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      #stay-in-touch {
        height: 80px;
        background-color: rgba(28, 69, 136, 0.85);
        color: #fff;
        justify-content: center;
        align-items: center;
      
        .stay-in-touch-content {
          font-size: 18px;
          margin-right: 6px;
      
          span {
            font-weight: bold;
            margin-right: 6px;
          }
        }
      
        & form {
          input.email-address {
            width: 300px;
            margin: 0 10px;
            padding: 10px 8px;
          }
      
          button {
            height: 40px;
            width: 112px;
            border-radius: 20px;
            background-color: #83bd00;
            border: none;
            color: #1c4588;
      
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      #stay-in-touch {
        height: 80px;
        background-color: rgba(28, 69, 136, 0.85);
        color: #fff;
        justify-content: center;
        align-items: center;
      
        .stay-in-touch-content {
          font-size: 18px;
          margin-right: 6px;
      
          span {
            font-weight: bold;
            margin-right: 6px;
          }
        }
      
        & form {
          input.email-address {
            width: 300px;
            margin: 0 10px;
            padding: 10px 8px;
          }
      
          button {
            height: 40px;
            width: 112px;
            border-radius: 20px;
            background-color: #83bd00;
            border: none;
            color: #1c4588;
      
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      #stay-in-touch {
        height: 80px;
        background-color: rgba(28, 69, 136, 0.85);
        color: #fff;
        justify-content: center;
        align-items: center;
      
        .stay-in-touch-content {
          font-size: 18px;
          margin-right: 6px;
      
          span {
            font-weight: bold;
            margin-right: 6px;
          }
        }
      
        & form {
          input.email-address {
            width: 300px;
            margin: 0 10px;
            padding: 10px 8px;
          }
      
          button {
            height: 40px;
            width: 112px;
            border-radius: 20px;
            background-color: #83bd00;
            border: none;
            color: #1c4588;
      
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      #stay-in-touch {
        height: 80px;
        background-color: rgba(28, 69, 136, 0.85);
        color: #fff;
        justify-content: center;
        align-items: center;
      
        .stay-in-touch-content {
          font-size: 18px;
          margin-right: 6px;
      
          span {
            font-weight: bold;
            margin-right: 6px;
          }
        }
      
        & form {
          input.email-address {
            width: 300px;
            margin: 0 10px;
            padding: 10px 8px;
          }
      
          button {
            height: 40px;
            width: 112px;
            border-radius: 20px;
            background-color: #83bd00;
            border: none;
            color: #1c4588;
      
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      
}

